<template>
    <div>
        <div style="background:#141722; color:#fff;">
            <div class="container space-top">
                <div class="row">
                    <div class="col-6">
                        <img src="@/assets/logo3.png" class="img-fluid" alt="EloBrother" style="height:50px" >
                    </div>
                    <div class="col-6">
                        <h4 class="payment-font">Formas de pagamento</h4>
                        <div role="group">
                            <img src="@/assets/paypal.png" alt="paypal" class="img-fluid payment-image"> 
                            <img src="@/assets/mercadopago.png" alt="mercadopago" class="img-fluid payment-image">  
                        </div>
                    </div>
                </div>
                <div class="row space-top">
                    <div class="col">
                        <p class="text-center">Todos os direitos reservados ELOBROTHER &copy; 2019 </p>
                    </div>   
                </div>
            </div>
        </div>    
    </div>
</template>

<script>
export default {
    
}
</script>